NEXT_PUBLIC_SUPABASE_URL=https://hccdzyhbyhanbyrbjazn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjY2R6eWhieWhhbmJ5cmJqYXpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3NzcwNTcsImV4cCI6MjEwNjM1MzA1N30._zsiFkzFSiGTMJYxMA61ifSlQXCAPsnqOqC-o0LeSPE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjY2R6eWhieWhhbmJ5cmJqYXpuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDc3NzA1NywiZXhwIjoyMTA2MzUzMDU3fQ.RbI68tVukHLIMe72kuQ3EMCFoIgFExDDIo5ghK5lDTM
OWNER_EMAIL=akshayx06@badminton.app
OWNER_PASSWORD=password123
